body{
    margin: 0px;
    padding: 0px;
    background-color: black;
  }
  p{
    color:white;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #241822;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #FE445B;
  }
  ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  .container {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */
  }
  
  .container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
  }
  body, html {
    height: 100%;
  }
  
  .bg {
   margin: 0px;
   padding: 0px;
  
    /* Full height */
    height: 70%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', monospace;;
    color: white;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  footer {
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #241822;
     color: white;
     text-align: center;
  }